<section>
    <div class="container col-md-6 mt-5">

        <form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Reg Id</label>
    <input type="text" class="form-control" id="inputRegId">
  </div>
 
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">name</label>
    <input type="name" class="form-control" id="inputName">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">email</label>
    <input type="text" class="form-control" id="inputAmount">
  </div>
   <div class="col-md-6">
    <label for="inputCity" class="form-label">Amount</label>
    <input type="text" class="form-control" id="inputAmount">
  </div>
   <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="date"/>
    </div>
  
 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sumbit</button>
  </div>
</form>

    </div>
</section>