
<section>
<div class="container col-md-6 mt-5">
{{#each sum}}
<h5>total monthly installment</h5>
<input type="text" name="monthly_installment" value="{{this.sum}}" readonly>

{{/each}}
{{#each total}}
<h5>total loan balance :</h5>
<input type="text" name="loan_balance" value="{{this.amount}}" readonly>
{{/each}}
</div>
</section>