<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://as1.ftcdn.net/v2/jpg/03/06/25/08/1000_F_306250813_FugPwQEUsOggWJ9sRrRqLXyVP6PwX1Qd.jpg" alt="" width="50" height="40" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav>