<section>

    
    
    <div class="container">
        <table class="table table-hover">
        <thead>
        <tr>
        
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        
        </tr>
        </thead>
        <tbody>
            {{#each installment}}
            <tr>
           
            <td>{{this.amount}}</td>
            <td>{{this.date}}</td>
           
            </tr>
            {{/each}}
           
        </tbody>
        </table>
    </div>
</section>